/*CSS DOCUMENT*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Playfair+Display:wght@500&family=Scope+One&family=Source+Sans+Pro:wght@200&display=swap');
h1 {
	font-size: 2.5em;
	text-align: center;
	font-family: 'Playfair Display', serif;
	
}

h2{
	font-size: 1.5em;
	text-align: center;
	color: #248f8f;
	font-family: 'Scope One', serif;
}
h3{
	font-family: 'Scope One', serif;
	letter-spacing: 0.3px;
	color: #248f8f;
	text-decoration: underline;
}
img {
	width: 100%;
}

.container{
	max-width: 55em; 
	margin: auto;
}
 p{
 	font-family: 'Source Sans Pro', sans-serif;
 	text-align: center;
 	font-size: 1em;
 	word-spacing: 2px;
 	font-style: oblique;
 }

 ul{
 	font-family: 'Source Sans Pro', sans-serif;
 	list-style-type: inherit;
 	font-size: 1em;
 }

 li{
 	font-family: 'Source Sans Pro', sans-serif;
 	font-size: 1em;
 }
 footer{
 	float: right;
 	font-family: 'Source Sans Pro', sans-serif;
 	font-size: 1em;
 }


